In [30]:
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
frec = pd.read_csv('filtered_cytosines_freq.tsv', sep = '\t')
frec.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,100.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.368,NaN,100.0,0.0,NaN,92.982,97.222,90.000
1,chr1.10617,88.000,NaN,NaN,0.0,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,92.308,NaN,100.0,50.0,0.0,86.792,100.000,60.000
2,chr1.10638,100.000,NaN,NaN,0.0,95.652,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,0.0,NaN,96.491,100.000,81.818
3,chr1.10631,100.000,NaN,NaN,NaN,100.000,NaN,100.000,NaN,88.889,...,NaN,85.714,97.436,NaN,100.0,50.0,0.0,96.154,97.297,81.818
4,chr1.10609,95.455,NaN,NaN,0.0,100.000,NaN,63.636,NaN,88.889,...,NaN,85.714,94.737,NaN,100.0,100.0,NaN,96.296,97.222,80.000

In [25]:
cover = pd.read_csv('filtered_cytosines_coverage.tsv', sep = '\t')
cover['chr'] = cover['chrBase'].apply(lambda x: x.split('.')[0])
cover['Base'] = cover['chrBase'].apply(lambda x: int(x.split('.')[1]))
cover.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9,chr,Base
0,chr1.10636,25.0,NaN,NaN,1.0,23.0,NaN,11.0,NaN,9.0,...,38.0,NaN,2.0,1.0,NaN,57.0,36.0,10.0,chr1,10636
1,chr1.10617,25.0,NaN,NaN,1.0,23.0,NaN,12.0,NaN,9.0,...,39.0,NaN,2.0,2.0,1.0,53.0,37.0,10.0,chr1,10617
2,chr1.10638,25.0,NaN,NaN,1.0,23.0,NaN,12.0,NaN,9.0,...,39.0,NaN,2.0,2.0,NaN,57.0,34.0,11.0,chr1,10638
3,chr1.10631,24.0,NaN,NaN,NaN,23.0,NaN,12.0,NaN,9.0,...,39.0,NaN,2.0,2.0,1.0,52.0,37.0,11.0,chr1,10631
4,chr1.10609,22.0,NaN,NaN,1.0,23.0,NaN,11.0,NaN,9.0,...,38.0,NaN,2.0,1.0,NaN,54.0,36.0,10.0,chr1,10609

In [34]:
cover['chr'].unique()

array(['chr1', 'chr10', 'chr11', 'chr12', 'chr13', 'chr14', 'chr15',
       'chr16', 'chr17', 'chr18', 'chr19', 'chr2', 'chr20', 'chr21',
       'chr22', 'chr3', 'chr4', 'chr5', 'chr6', 'chr7', 'chr8', 'chr9',
       'chrM', 'chrX', 'chrY'], dtype=object)

In [17]:
CpG = pd.read_csv('cpgIslandExt.txt', sep = '\t')
#CpG.columns = ['bin', 'chrom', 'chromStart','chromEnd', 'name','length', 'cpgNum', 'gcNum', 'perCpg', 'perGc', 'obsExp']
CpG.head()

,bin,chrom,chromStart,chromEnd,name,length,cpgNum,gcNum,perCpg,perGc,obsExp
0,585,chr1,28735,29810,CpG: 116,1075,116,787,21.6,73.2,0.83
1,586,chr1,135124,135563,CpG: 30,439,30,295,13.7,67.2,0.64
2,587,chr1,327790,328229,CpG: 29,439,29,295,13.2,67.2,0.62
3,588,chr1,437151,438164,CpG: 84,1013,84,734,16.6,72.5,0.64
4,588,chr1,449273,450544,CpG: 99,1271,99,777,15.6,61.1,0.84

In [41]:
arr = [0]*len(CpG)

for ch in cover['chr'].unique():
    cover_copy = cover[cover['chr'] == ch]
    CpG_copy = CpG[CpG['chrom'] == ch]
    print(ch, end = ' ')
    for i in CpG_copy.index:
        print(i, end = ' ')
        for j in cover_copy.index:
            if CpG_copy['chromStart'].loc[i] < cover_copy['Base'].loc[j] and CpG_copy['chromEnd'].loc[i] > cover_copy['Base'].loc[j]:
                arr[i] += 1

chr1 0 1

KeyboardInterrupt:

За разумное время данным способом сделать что-то нереально, но как иначе не успеваю придумать...

Возможно я неправильно понимаю значение chrBase, либо не хватет навыков работы с pivot_table.

<img src = 'work.jpg'>

(зато я умею вставлять картинки)